{% extends 'base.html.twig' %}

{% block title %}Campus index{% endblock %}

{% block body %}
    <h1>Campus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campus in campuses %}
            <tr>
                <td>{{ campus.id }}</td>
                <td>{{ campus.nom }}</td>
                <td>

                    <a href="{{ path('app_campus_edit', {'id': campus.id}) }}">edit</a>
                    <form method="post" action="{{ path('app_campus_delete', {'id': campus.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ campus.id) }}">
                        <button class="btn">Delete</button>
                    </form>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
{#        {{ form_start(form) }}#}
{#        <tr>#}
{#            <td>?</td>#}
{#            <td>#}
{#                <input type="text" name="nom" placeholder="Name">#}
{#                #}
{#            </td>#}
{#            <td>#}
{#                <button type="submit" class="btn btn-primary" >Submit</button>#}
{#            </td>#}
{#        </tr>#}
{#        {{ form_widget(form) }}#}

{#        {{ form_end(form) }}#}
        </tbody>

    </table>

    <a href="{{ path('app_campus_new') }}">Create new</a>

{% endblock %}
