{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}

    <h1>Sortie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Duree</th>
                <th>Date limite d'inscription</th>
                <th>Nb inscrits max</th>
                <th>Informations</th>
                <th>nombre d'inscrit(s)</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeurDebut ? sortie.dateHeurDebut|date('Y-m-d') : '' }}</td>
                <td>{{ sortie.duree ? sortie.duree.format('%y year(s), %m month(s), %d day(s)') : '' }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d') : '' }}</td>
                <td>{{ sortie.mbInscriptionMax }}</td>
                <td>{{ sortie.infosSortie }}</td>
                <td>{{ sortie.participants.count }}</td>
                <td>
                    {% if app.user %}


                        <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">voir</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">aucune sortie trouvee</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% if app.user %}
        <a href="{{ path('app_sortie_new') }}">Organiser une nouvelle sortie</a>
    {% endif %}

{% endblock %}
