{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1>Sortie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ sortie.nom }}</td>
            </tr>
            <tr>
                <th>pseudo organisateur</th>
                <td>{{ sortie.organisateur.pseudo }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ sortie.dateHeurDebut ? sortie.dateHeurDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ sortie.duree ? sortie.duree.format('%y year(s), %m month(s), %d day(s)') : '' }}</td>
            </tr>
            <tr>
                <th>Date limite d'inscription</th>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nb participants max</th>
                <td>{{ sortie.mbInscriptionMax }}</td>
            </tr>
            <tr>
                <th>Nb participants actuel(s)</th>
                <td>{{ sortie.participants.count }}</td>
            </tr>
            <tr>
                <th>Information</th>
                <td>{{ sortie.infosSortie }}</td>
            </tr>
         <tr>
                <th>Etat</th>
                <td>{{ sortie.etat.libelle }}</td>
            </tr>
        </tbody>
    </table>


   {# <a href="{{ path('app_sortie_index') }}">back to list</a>#}




           <form method="post" action="{{ path('app_sortie_desinscription', {'id': sortie.id}) }}"
                  onsubmit="return confirm('Etes vous sure de vouloir vous desinscrire?');">
                <button class="btn">se desinscrire</button>
            </form>

                <form method="post" action="{{ path('app_sortie_inscription', {'id': sortie.id}) }}"
                      onsubmit="return confirm('Etes vous sure de vouloir vous inscrire?');">
                    <button class="btn">s'inscrire</button>
                </form>



{% if app.user.id == sortie.organisateur.id %}
    <div class="edit">
        <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">modifier cette sortie</a>
    </div>
    {% endif %}



    {#{{ include('sortie/_delete_form.html.twig') }}#}
{% endblock %}
