{% extends 'base.html.twig' %}

{% block title %}Ville index{% endblock %}

{% block body %}
    <h1>Ville index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>CodePostal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.id }}</td>
                <td>{{ ville.nom }}</td>
                <td>{{ ville.codePostal }}</td>
                <td>
                    <a href="{{ path('app_ville_edit', {'id': ville.id}) }}">Modifier</a>
                    <form method="post" action="{{ path('app_ville_delete', {'id': ville.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ville.id) }}">
                        <button class="btn">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        {{ form_start(form) }}
            <tr>
                <td>?</td>
{#                <td>#}
{#                    <input type="text" name="nom" id="nom" placeholder="Nom ville">#}
{#                </td>#}
{#                <td>#}
{#                    <input type="number" name="codePostal" id="codePostal" placeholder="Code postal">#}
{#                </td>#}
                <td>{{ form_row(form.nom) }}</td>
                <td>{{ form_row(form.codePostal) }}</td>
                <td><button type="submit" class="btn">Register</button></td>
            </tr>
        {{ form_end(form) }}
{#        <tr>#}
{#            {{ include('ville/_form.html.twig') }}#}
{#            <td>{{ form_label(form.name) }}</td>#}
{#            <td></td>#}
{#        </tr>#}
        </tbody>
    </table>
{#    {{ form_label(form.nom) }}#}

{#    <a href="{{ path('app_ville_new') }}">Create new</a>#}
{% endblock %}
