<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https : //fonts.googleapis.com/css2?family= Inconsolata & display = swap" rel="stylesheet">
        <title>{% block title %}Oui Sortie!!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('style.css') }}">
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container">
        <div class="header">
            {% block header %}
                <h1><title>Oui Sortie !!!</title></h1>
            {% endblock %}
        </div>
        <div class="nav">
            {% block nav %}
                <ul>
                    <li><a href="{{ path('app_register') }} ">s'enregistrer</a></li>
                    <li><a href="{{ path('app_login') }} ">se connecter</a></li>
                    <li><a href="{{ path('app_logout') }} ">se deconnecter</a></li>
                    <li><a href="{{ path('app_accueil') }} ">page d'accueil</a></li>
                </ul><ul>
                    <li><a href="{{ path('app_campus_index') }} ">index des campus</a></li>
                    <li><a href="{{ path('app_campus_new') }} ">ajouter un campus</a></li>
            </ul><ul>
                    <li><a href="{{ path('app_etat_index') }} ">index des etats</a></li>
                    <li><a href="{{ path('app_etat_new') }} ">ajouter un etat</a></li>
            </ul><ul>
                    <li><a href="{{ path('app_lieu_index') }} ">index des lieux</a></li>
                    <li><a href="{{ path('app_lieu_new') }} ">ajouter un lieux</a></li>
            </ul><ul>
                    <li><a href="{{ path('app_sortie_index') }} ">index des sortie</a></li>
                    <li><a href="{{ path('app_sortie_new') }} ">ajouter une sortie</a></li>
            </ul><ul>
                    <li><a href="{{ path('app_ville_index') }} ">index des villes</a></li>
                    <li><a href="{{ path('app_ville_new') }} ">ajouter une ville</a></li>
                </ul>
            {% endblock %}
        </div>
        <div class="body">
            {% block body %}
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur corporis dicta doloribus eius et excepturi fuga harum in ipsa ipsam iste, magnam necessitatibus nesciunt pariatur quam repudiandae sapiente voluptatum?</span><span>Aperiam eligendi exercitationem officia quidem voluptatibus. Ab accusamus autem blanditiis commodi consectetur corporis doloremque eaque eligendi excepturi facilis fugiat fugit, libero magnam nostrum numquam, quidem, quos sapiente vitae voluptate voluptatem.</span><span>Amet at beatae blanditiis consequatur dolore dolorem doloribus dolorum eaque eius fuga, id incidunt itaque magni maxime nulla, officiis possimus provident quod quos ratione rem reprehenderit, sapiente ut vitae voluptatibus?</span><span>Commodi cupiditate dicta dolore dolorum eius exercitationem illo iste magni nam obcaecati omnis possimus reiciendis, repellendus soluta, velit vitae, voluptatum? A ad, consequatur cum eligendi facilis id minus mollitia quaerat?</span><span>At dignissimos mollitia quos repudiandae. Beatae debitis, dolorum eveniet exercitationem impedit laboriosam magnam! A cumque doloribus et fugit id libero magni nisi officia soluta. Fugit id illo inventore officia placeat?</span><span>Aliquid earum nemo vero. Ab distinctio dolorem, doloribus ducimus et facilis harum id labore laudantium magnam obcaecati officia perspiciatis praesentium, quaerat quis saepe similique temporibus unde. At hic similique totam.</span><span>A aliquam aliquid amet, aperiam beatae consectetur consequatur dolores earum expedita fugiat illum, in laudantium necessitatibus nostrum nulla, optio quas quia quod repudiandae similique soluta suscipit ullam vitae voluptatem voluptatum.</span><span>Accusantium enim illum impedit iure minus nam neque nesciunt perferendis possimus rem repellendus, repudiandae sed sunt tenetur voluptatem. Consequuntur, nihil, quam! Ad, culpa doloremque harum odit optio ut velit voluptatum!</span><span>A, accusamus asperiores blanditiis consequatur debitis dolor dolore doloremque dolores ducimus eius error facilis illo itaque laudantium magni molestiae molestias natus neque nostrum porro quis ratione repellendus reprehenderit voluptate voluptates.</span><span>Eum, iusto perspiciatis? Cum in incidunt nesciunt numquam, quasi quidem vitae! At dignissimos ducimus earum expedita fugiat illo in perferendis, provident quaerat quibusdam sapiente, ut voluptatibus voluptatum. Doloremque ipsa, nemo.</span><span>Alias at atque cumque deserunt explicabo inventore molestiae, nam nisi, officia omnis perferendis ullam voluptas! Accusantium cum eveniet fugit nihil nostrum numquam obcaecati ratione rerum sed soluta! Numquam, vero voluptates.</span><span>Alias corporis ea eius harum quae. Adipisci alias animi beatae cum dicta distinctio dolorum enim, eos fugit harum ipsam iure molestiae obcaecati odio porro possimus quod, repudiandae, rerum sed similique?</span><span>Accusantium asperiores atque beatae cumque dolore dolorum eaque eius ex exercitationem expedita fugit illo incidunt ipsam ipsum iste laborum natus, nesciunt omnis quia quis ratione saepe sint tempora totam velit!</span><span>Ab aliquid ipsam ipsum pariatur provident quos temporibus veniam vitae. Deserunt, eos harum molestiae nostrum nulla quibusdam saepe. Cupiditate dignissimos doloremque facere? Dignissimos dolorum eius et excepturi officiis quam, tempora!</span><span>Dolore error exercitationem minus placeat quis recusandae, rerum sapiente sint suscipit. At doloribus eum facere maxime quam quasi quisquam similique. Dolor illum impedit non optio repellendus. Dolores error explicabo vitae?</span><span>Deserunt doloribus eligendi eveniet illo ipsum nostrum officia perspiciatis recusandae sed sunt suscipit, tempore voluptate. Consequatur consequuntur doloribus eos est, illo perferendis quam saepe sed sint sunt ullam voluptate voluptatem.</span><span>Dolore impedit modi nihil odio quas quasi temporibus velit voluptate. Blanditiis consequuntur doloribus est, impedit maiores nisi quos repudiandae. Atque beatae eligendi est iste minus natus nemo quia veniam voluptas.</span><span>Accusamus, accusantium ad aut commodi corporis deleniti enim eos est eum facere illum ipsum minima nesciunt nisi obcaecati omnis perspiciatis quaerat quas quidem quod quos rem repellat sapiente vero voluptatibus.</span><span>Debitis ducimus eaque et expedita id nemo quidem repudiandae. Aspernatur consequuntur dolore ducimus est illum in ipsam laborum, maxime mollitia numquam officia qui quis repellendus tempora velit! Et, neque, suscipit!</span><span>Accusantium, dolore eaque eius quasi recusandae veritatis voluptates! Distinctio eligendi id impedit soluta suscipit. Beatae itaque iusto mollitia nam nesciunt quas quo sed sunt suscipit veritatis? Dolorum provident repudiandae voluptate!</span><span>Animi at dicta eius nisi officia reiciendis repellat soluta totam ut voluptatem. At commodi deserunt doloremque est eveniet facilis ipsam porro quidem ratione suscipit. Illo maiores nihil placeat sapiente soluta.</span><span>Ab at beatae distinctio error fugiat illo labore, libero minus nulla obcaecati odio optio perferendis placeat quasi repellat sed unde, vitae. Assumenda consequatur eveniet nisi quam quia quidem quo quod.</span><span>Ab accusamus commodi, dignissimos doloremque esse ex inventore ipsum itaque iusto labore maiores praesentium quos ut vel, voluptate? Accusamus adipisci autem earum fugit nam nihil nisi quia repellat unde voluptas!</span><span>Autem est maiores nam quos sed. Accusamus accusantium adipisci aliquid eius eum exercitationem fugit incidunt iste repudiandae tempore? Aspernatur blanditiis ea ipsum libero nam sapiente sint vero. Mollitia, quia, vitae!</span><span>Ab delectus dignissimos dolor ducimus eaque eius eveniet, fuga inventore libero numquam quas vero. Consequuntur, est officia qui quibusdam saepe sapiente voluptates? Dolores ea nostrum, officia possimus sunt vel veritatis?</span></p>
            {% endblock %}
        </div>
        <div class="footer">
                <div><strong>&copy;</strong><em>{{ "now"| date("Y") }}Oui Sortie</em></div>
        </div>
    </div>

    </body>
</html>
